---
import { Icon } from "astro-icon/components";
import { USER_NAME, USER_SITE, USER_FOOTER_SOCIAL_ICONS } from "@config";
---

<div class="bg-transparent order-5" transition:name="footer">
  <footer class="footer bg-base-100 p-10 rounded-xl shadow-lg">
    <aside>
      <span class="footer-title">Copyright</span>
      <p>
        Powered by <a href="https://github.com/EveSunMaple/Frosti" target="_blank" class="font-bold">Frosti Template</a>
        <br />
        Made by meta
        {new Date().getFullYear()} - All right reserved ©
      </p>
    </aside>
    <aside>
        <span class="footer-title">Ressources</span>
        <p>
          Inspired by <a href="https://www.monsterenergy.com/" target="_blank" class="font-bold">Monster Energy</a>
          <br />
          Made with <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a>
        </p>
    </aside>
  </footer>
</div>
